Make_Kaufbestätigung.json
{
    "name": "Kauf",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2068500,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Name"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Vorname",
                        "type": "text"
                    },
                    {
                        "name": "Nachname",
                        "type": "text"
                    },
                    {
                        "name": "E_Mail",
                        "type": "text"
                    },
                    {
                        "name": "Telefonnummer",
                        "type": "text"
                    },
                    {
                        "name": "Wohnort",
                        "type": "text"
                    },
                    {
                        "name": "PLZ",
                        "type": "text"
                    },
                    {
                        "name": "Strasse",
                        "type": "text"
                    },
                    {
                        "name": "Hausnummer",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 7199052,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{1.E_Mail}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Bestellbestätigung</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f6f6f6;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #ffffff;\n      max-width: 600px;\n      margin: 30px auto;\n      padding: 20px;\n      border-radius: 10px;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n    }\n    h1 {\n      color: #e82127;\n    }\n    .content {\n      font-size: 16px;\n      line-height: 1.6;\n      color: #333333;\n    }\n    .highlight {\n      font-weight: bold;\n    }\n    ul {\n      padding-left: 20px;\n    }\n    .footer {\n      margin-top: 30px;\n      font-size: 14px;\n      color: #888888;\n    }\n    .button {\n      display: inline-block;\n      margin-top: 20px;\n      padding: 12px 20px;\n      background-color: #e82127;\n      color: #ffffff;\n      text-decoration: none;\n      border-radius: 5px;\n      font-weight: bold;\n    }\n    .logo {\n      margin-top: 30px;\n      text-align: center;\n    }\n    .logo img {\n      max-width: 150px;\n      height: auto;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Hallo {{1.Vorname}},</h1>\n    <div class=\"content\">\n      <p>Vielen Dank für deine Bestellung bei uns!</p>\n      <p>Wir wünschen dir viel Spass mit deinem neuen <span class=\"highlight\">{{1.passendes_modell_variante}}</span>.</p>\n      <p>Bitte überprüfe folgende Angaben und melde dich bei Unstimmigkeiten bei uns:</p>\n      <ul>\n        <li><strong>Modell:</strong> {{1.passendes_modell_variante}}</li>\n        <li><strong>Aussenfarbe:</strong> {{1.Aussenfarbe}}</li>\n        <li><strong>Innenfarbe:</strong> {{1.Innenfarbe}}</li>\n      </ul>\n      <p>Vielen Dank für dein Vertrauen.</p>\n\n      <a href=\"https://www.tesla.com/de_ch/contact\" class=\"button\">Kontakt aufnehmen</a>\n    </div>\n    <div class=\"footer\">\n      Beste Grüsse<br>\n      Dein fiktionelles Tesla Team\n    </div>\n    <div class=\"logo\">\n      <img src=\"https://static.wixstatic.com/media/1d9a05_27450a9b38f842629e3cb8578e32303c~mv2.jpg/v1/fill/w_546,h_545,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/1d9a05_27450a9b38f842629e3cb8578e32303c~mv2.jpg\" alt=\"Tesla Logo\">\n    </div>\n  </div>\n</body>\n</html>\n",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Studentenprojekt, keine echten Daten / Mails! ",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "smtp"
                            },
                            "label": "Yves - Mail (SMTP yves.bornhauser@gmx.ch)"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7203868
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.Vorname}}",
                    "1": "{{1.Nachname}}",
                    "2": "{{1.E_Mail}}",
                    "3": "{{1.Telefonnummer}}",
                    "4": "{{1.Wohnort}}",
                    "5": "{{1.PLZ}}",
                    "6": "{{1.Strasse}}",
                    "7": "{{1.Hausnummer}}",
                    "8": "{{1.passendes_modell_variante}}",
                    "9": "{{1.Aussenfarbe}}",
                    "10": "{{1.Innenfarbe}}"
                },
                "sheetId": "Tabellenblatt1",
                "spreadsheetId": "/1BcSrnc109FQQrISSnbk2BWNf_C9A8ogOF-CYuGWwRa4",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Tabellenblatt1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Tesla_Bestellungen"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Vorname (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Nachname (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "E-Mail (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Telefonnummer (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Wohnort (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "PLZ (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Strasse (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Hausnummer (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Bestelltes Modell (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Aussenfarbe (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Innenfarbe (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Vorname (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Nachname (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "E-Mail (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Telefonnummer (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Wohnort (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "PLZ (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Strasse (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Hausnummer (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Bestelltes Modell (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Aussenfarbe (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Innenfarbe (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}